body {
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .form-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  input, select, button {
    padding: 10px;
    font-size: 16px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
  }
  th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 2px;
    font-size: small;
  }
  th {
    background-color: #f0f0f0;
  }
  .highlight {
    background-color: #f0f8ff;
  }

  .header-cell {
    text-align: left; 
    font-weight: bold; 
    background-color: #f0f0f0;
  }
  .role-cell {
    text-align: right;
  }
  .name-cell {
    text-align: right;
  }
  .time-cell {
    text-align: center;
  }